    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    footer {
      background-color: #333333;
      padding: 25px;
    }
    
    .jumbotron {
      margin-bottom: 10px;
      background-image: url("trees.gif");
      background-size: cover;
      height: 50%;
        }

  body {
    background-color: gray;
   }    